:root {
   --white: #F5FFFB;
   --black: #000000;
   --light-gray: #4c4e4d;
   --medium-gray: #282929;
   --dark-gray: #121214;
}

@font-face {
    font-family:'Jura';
    src:url("../fonts/Jura-VariableFont_wght.ttf");
}


body {
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: 'Jura';
}

footer {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;

}